<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ATillM</title>
  <link rel="stylesheet" href="assets/static/index.css" />
</head>
<body>
<h1 class="logo">
  ATillM
</h1>
<div class="message">&nbsp;</div>
<form id="withdraw" action="/api/withdraw" method="post">
  <label for="pan">Personal Account Number</label>
  <input type="text" id="pan" name="pan" pattern="\d+" required />
  <label for="amount">Amount</label>
  <input type="number" id="amount" name="amount" required min="1" max="500" />
  <button type="submit">Submit</button>
</form>
<form action="/api/reset" method="post">
  <button type="submit">Time travel to tomorrow</button>
</form>
<script>
  const handleSubmit = async (e) => {
      e.preventDefault();
      const messageNode = document.querySelector('.message');
      fetch('/api/withdraw', {
          method: 'POST',
          mode: 'cors',
          credentials: 'same-origin',
          body: new FormData(document.forms['withdraw'])
      }).then(async (res) => {
          const data = await res.json();
          messageNode.textContent = data.message;
          messageNode.classList.add(res.ok ? 'success' : 'error');
          messageNode.classList.remove(!res.ok ? 'success' : 'error');
          if (res.ok) {
              document.forms['withdraw'].reset();
          }
      }, async (err) => {
          console.error(err);
      });
  }
  document.forms['withdraw'].addEventListener('submit', handleSubmit);
</script>
</body>
</html>